.article{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 600px;
  border: solid lightgrey;
  
}

.intro{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding: 25px;
}